* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", "Fraunces", "Helvetica Neue";
  width: 1440px;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.flex-container {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  width: 600px;
  height: 450px;
}

.flex-item {
  flex: 1;
}

.flex-container .product-image-mobile {
  display: none;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 30px;
  background-color: hsl(0, 0%, 100%);
}

.product-info .info-item {
  margin-bottom: 25px;
}

.product-info .title {
  font-size: 1em;
  color: hsl(158, 36%, 37%);
  font-family: Montserrat-mono-space;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product-info .heading {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.2;
  font-family: "Fraunces";
}

.product-info .description {
  font-size: 0.9em;
  line-height: 1.5;
  color: hsl(158, 36%, 37%);
}

.product-info .price {
  display: flex;
  color: hsl(158, 36%, 37%);
  align-items: center;
  font-family: "Fraunces";
}

.product-info .price .price-item {
  margin-right: 30px;
  font-weight: bold;
}

.product-info .price .current-price {
  font-size: 1.8em;
}

.product-info .price .last-price {
  font-size: 0.8em;
}

.product-info .button {
  display: flex;
  background-color: hsl(158, 36%, 37%);
  align-self: center;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
}

.product-info .button .button-item {
  margin-right: 10px;
}

@media (max-width: 757px) {
  body {
    width: 375px;
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    margin: 20px auto;
  }

  .flex-container {
    flex-direction: column;
    width: 300px;
    height: 900px;
    border-radius: 10px;
  }

  .flex-container .product-image-desktop {
    display: none;
  }

  .flex-container .product-image-mobile {
    display: block;
  }
}
